spring:
  profiles:
    active: @profileName@
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.zaxxer.hikari.HikariDataSource
  web:
    resources:
      static-locations: classpath:/static/
  aop:
    proxy-target-class: true
  messages:
    basename: i18n/message
    encoding: UTF-8
server:
  tomcat:
      uri-encoding: utf-8
mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: cn.haigle.around.*.*.entity
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true
